<launch>

  <arg name="mav_name" default="dragonfly12"/>
  <arg name="world_frame" default="world"/>
  <arg name="pcv_cloud_frame" default="pcv_cloud_frame"/>

  <group ns="ground_station">

      <node pkg="point_cloud_io" type="read" name="point_cloud_io" output="screen">
         <!--<param name="file_path" type="string" value="$(find kr_jps3d_interface)/point_clouds/pointcloud_83k.ply" />-->
         <param name="file_path" type="string" value="$(find kr_jps3d_interface)/point_clouds/pointcloud_window.ply" />
         <param name="topic" value="pcv_cloud" />
         <param name="frame" value="$(arg pcv_cloud_frame)"/>
         <param name="rate" value="1.0" />
      </node>

      <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" output="screen">
         <param name="resolution" value="0.1" />
         <param name="frame_id" type="string" value="$(arg pcv_cloud_frame)" />
         <remap from="cloud_in" to="point_cloud_io/pcv_cloud" />
      </node>

      <node pkg="kr_jps3d_interface" type="octomap_to_voxel_map" name="octomap_to_voxel_map" output="screen">
         <remap from="voxel_map" to="pcv_voxel_map"/>
         <param name="cloud_frame" value="$(arg pcv_cloud_frame)"/>
         <param name="planning_frame" value="pcv_voxel_map"/>
      </node>

      <node name="plan3d_to_path_pcv" pkg="kr_jps3d_interface" type="plan3d_to_path" output="screen">
         <param name="yaml_map" value="false"/>
         <param name="yaml_file" value="$(find jps3d)/data/simple3d.yaml"/>
         <param name="world_frame" value="$(arg world_frame)"/>

         <remap from="rb_to_voxel_map" to="pcv_voxel_map"/>
         <remap from="odom" to="$(arg mav_name)/ground_truth/odom"/>
         <remap from="waypoints" to="/waypoints"/>
         <remap from="dmp_path" to="/$(arg mav_name)/waypoints"/>
      </node>

      <node pkg="tf" type="static_transform_publisher" name="tf_pcv_cloud_to_world" args="2.48 -2.01 3.47 1.05 0 0 $(arg pcv_cloud_frame) $(arg world_frame) 100" />
   </group>
</launch>
