<launch>
  <arg name="mav_name" default="$(optenv MAV_NAME)"/>
  <arg name="nodelet_manager_name" default="stereo_nodelet_manager"/>
  <arg name="points_topic" default="radius_outlier_removal/output"/>

  <group ns="$(arg mav_name)">

    <node name="trajectory_replanning" pkg="traj_replanning" type="trajectory_replanning" output="screen">
      <rosparam command="load" file="$(find system_launch)/config/traj_replanning.yaml" />
      <param name="map_frame" value="odom"/>
      <param name="base_frame" value="base_link"/>

      <remap from="input_point_cloud" to="radius_outlier_removal/output"/>
      <remap from="down_cam_points" to="vioqc_map_pc_pub/current_map_points"/>
      <remap from="waypoints" to="waypoints"/>
      <remap from="mav_services/goTo" to="mav_services/goTo"/>
    </node>
  </group>
</launch>
